@use '../../assets/style/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0;
}

.logo {
  &_img {
    max-width: 100%;
    width: 200px;
  }
}