//// Colors
$primary-color: #2c3e50;
$secondary-color: #00bc77;
$secondary-color-active: #42b983;
$tertiary-color: #222;

$logo-color-dark: #244B30;

$bg-light: #FFFFFF;
$bg-dark: #12002b;

//// Breakpoints
@mixin respond-to($pad) {
  @media (min-width: 720px){
    @content;
  }
}

@mixin respond-to($desktop) {
  @media (min-width: 920px){
    @content;
  }
}
