@use '../../assets/style/variables';

.features {
  display: flex;
  flex-direction: column;
  
  @include variables.respond-to('desktop') {
      flex-direction: row;
  }

  &_icon {
    width: 100px;
    border: 10px solid variables.$secondary-color;
    border-radius: 50%;
    padding: 1rem;
  }

  &_item {
    flex: 1;
    padding: 2.5rem;
  }

  &_title {
    color: variables.$tertiary-color;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}