@use '../../../assets/style/variables';


.formedit{
  &_content {
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
  }

  &_input_wrapper {
    display: flex;
    text-align: left;
    margin-top: 0.5rem;
    max-width: 100%;
    align-items: center;

    label {
      font-weight: 700;
      white-space: nowrap;
      margin-right: 5px;
    }

    input {
      width: 100%;
    }
    
    .blocked {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  &_button {
    &_container {
      display: flex;
      gap: 10px;
    }

    &_save, &_cancel {      
      padding: 8px;
      font-size: 1.1rem;
      font-weight: 700;
      background-color: variables.$secondary-color;
      color: #fff;
      cursor: pointer;  
      width: 100%;
      margin-top: 1rem;
      border: 0;
    }

    &_cancel {
      background-color: variables.$logo-color-dark;
    }
  }
}

.error_message{
  text-align: right;
  margin: 0.2rem 0 0 0;
  color: red;
  font-weight: bold;
}